* {
  box-sizing: border-box;
  margin: 0; }

body {
  background: #eeeeee;
  margin: 0;
  width: 100%;
  overflow-x: hidden; }

#background {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1; }
  #background #background_a {
    position: absolute;
    top: 100px;
    right: 10%;
    z-index: 1;
    width: 80%;
    min-width: 900px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.15; }
    #background #background_a #svg-object {
      width: 100%;
      height: auto; }
    #background #background_a svg {
      width: 100%;
      height: auto; }

#background #background_shadow-a {
  z-index: 4;
  position: absolute;
  bottom: -60vw;
  left: -60vw;
  width: 120vw;
  height: 120vw;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, #fff 15%, transparent 65%); }

#background #background_shadow-b {
  z-index: 3;
  position: absolute;
  bottom: -50vw;
  right: -50vw;
  width: 100vw;
  height: 100vw;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, rgba(84, 152, 255, 0.51) 20%, rgba(255, 255, 255, 0) 70%);
  -webkit-animation: second-blob 15000ms infinite linear;
          animation: second-blob 15000ms infinite linear; }

@-webkit-keyframes second-blob {
  from {
    bottom: -50vw; }
  50% {
    bottom: -100vw; }
  to {
    bottom: -50vw; } }

@keyframes second-blob {
  from {
    bottom: -50vw; }
  50% {
    bottom: -100vw; }
  to {
    bottom: -50vw; } }

#navigation {
  background: #fff;
  height: 766px;
  width: 698px;
  border-radius: 50%;
  overflow: hidden;
  padding-left: 455px;
  padding-top: 176px;
  position: absolute;
  z-index: 10;
  transition: all 500ms;
  will-change: transform, top, left;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: -400px;
  left: -670px;
  box-shadow: 10px 10px 20px 0px rgba(0, 102, 255, 0.16); }
  #navigation.navi-hidden {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: -176px;
    left: -455px; }
  @media screen and (min-width: 900px) {
    #navigation {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      top: -176px;
      left: -455px; }
      #navigation.navi-hidden {
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        top: -400px;
        left: -670px; } }
  #navigation .navigation--container {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative; }
  #navigation .navigation--item {
    border-bottom: solid 1px #eeeeee;
    border-left: solid 1px transparent;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    font-weight: 400;
    color: #0066ff;
    display: flex;
    justify-content: flex-start;
    padding: 5% 10%;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 100%; }
    #navigation .navigation--item:hover {
      border-bottom: solid 1px #5498FF;
      border-left: solid 5px #5498FF; }
    #navigation .navigation--item.active {
      border-bottom: solid 1px #0066ff;
      border-left: solid 10px #0066ff; }
  #navigation #angle-up,
  #navigation #angle-down {
    position: absolute;
    bottom: 40px;
    font-size: 20px;
    color: #0066ff;
    cursor: pointer;
    display: block;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    #navigation #angle-up .ico,
    #navigation #angle-down .ico {
      cursor: pointer; }
  #navigation #angle-up {
    left: 10px; }
  #navigation #angle-down {
    left: -150px; }

.sections-wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative; }
  .sections-wrapper .sections-wrapper_item {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw;
    height: 20vh;
    border-bottom-right-radius: 100%;
    display: none;
    transition: width 3000ms, height 1500ms;
    z-index: 2; }
    @media screen and (min-width: 900px) {
      .sections-wrapper .sections-wrapper_item.sections-wrapper_item--bigger {
        width: 100vw;
        height: 100vh; } }
    @media screen and (min-width: 900px) {
      .sections-wrapper .sections-wrapper_item.sections-wrapper_item--shadow {
        box-shadow: 10px 10px 20px 0px rgba(0, 102, 255, 0.16);
        z-index: 5;
        background: rgba(238, 238, 238, 0.85); } }
    .sections-wrapper .sections-wrapper_item.sections-wrapper_item--active {
      width: 100%;
      height: unset;
      overflow: visible;
      z-index: 1;
      border-bottom-right-radius: 0;
      position: relative; }
    .sections-wrapper .sections-wrapper_item .sections-wrapper_content {
      display: none;
      width: 100vw;
      position: absolute; }

.dummy-sec {
  padding: 40px;
  color: #0066ff;
  font-family: "Roboto Slab", serif;
  padding-left: 250px; }
  .dummy-sec h1 {
    color: #0066ff;
    font-family: "Roboto Slab", serif;
    font-size: 60px; }
  .dummy-sec p {
    width: 50%;
    color: #0066ff;
    font-family: "Roboto Slab", serif;
    font-size: 30px; }
  .dummy-sec .tiltbelt {
    display: flex;
    flex-wrap: wrap; }
    .dummy-sec .tiltbelt .tilt {
      width: 300px;
      height: 400px;
      background: #fff;
      box-shadow: 10px 10px 20px 0px rgba(0, 102, 255, 0.16);
      border-radius: 4px; }
  .dummy-sec ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0; }
    .dummy-sec ul li {
      list-style: none;
      width: 100%;
      padding: 0;
      margin: 0;
      margin-top: 50px;
      background: #fff;
      box-shadow: 10px 10px 20px 0px rgba(0, 102, 255, 0.16);
      border-radius: 4px; }

#header01 {
  min-height: 100vh; }
  #header01 h1 {
    margin: 0;
    padding: 0;
    margin-top: 10vh; }
  #header01 #personal-panel {
    margin-top: 10vh;
    position: relative;
    width: 300px;
    height: 100px; }
    #header01 #personal-panel img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 33.33%;
      height: 100%;
      background: #0066ff;
      border: solid 5px #0066ff;
      border-radius: 50%; }
    #header01 #personal-panel .personal-panel--wrapper {
      box-shadow: 10px 10px 20px 0px rgba(0, 102, 255, 0.15);
      z-index: 0;
      position: absolute;
      top: 0;
      left: 50px;
      height: 100%;
      width: calc(100% - 50px);
      border-top-right-radius: 16% 50%;
      border-bottom-right-radius: 16% 50%;
      background: #5498FF;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      overflow: hidden; }
    #header01 #personal-panel .personal-panel--item {
      width: 105%;
      height: 33.33%;
      background: #5498FF;
      padding-left: 70px;
      border-top: solid 1px #0066ff; }
      #header01 #personal-panel .personal-panel--item a {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        color: #fff;
        text-decoration: none; }
      #header01 #personal-panel .personal-panel--item:hover {
        background: linear-gradient(rgba(0, 102, 255, 0.7) 1%, #5498FF 130%); }
  #header01 #description-panel {
    margin-top: 10vh;
    width: 400px; }
    #header01 #description-panel p {
      margin: 0;
      padding: 0;
      text-align: left;
      font-size: 35px;
      width: 100%; }
      #header01 #description-panel p:first-of-type {
        text-align: center;
        font-size: 23px; }
      #header01 #description-panel p:last-of-type {
        text-align: right;
        font-size: 23px; }
