.sections-wrapper {
    width: 100%;
    min-height: 100vh;
    //overflow: hidden;
    position: relative;
   
     
    .sections-wrapper_item {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 20vw;
        height: 20vh;
        border-bottom-right-radius: 100%;
        display: none;
        transition: width 3000ms, height 1500ms;
        z-index: 2;
        &.sections-wrapper_item--bigger {
            @media screen and (min-width: 900px){
                  width: 100vw;
                  height: 100vh;
            }
        }

        &.sections-wrapper_item--shadow {
            @media screen and (min-width: 900px){
                 -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 102, 255, 0.16);
                 -moz-box-shadow: 10px 10px 20px 0px rgba(0, 102, 255, 0.16);
                 box-shadow: 10px 10px 20px 0px rgba(0, 102, 255, 0.16);
                 z-index: 5;
                 background: rgba(238, 238, 238, 0.85);
            }
        }

        &.sections-wrapper_item--active {
            width: 100%;
            height: unset;
            overflow: visible;
            z-index: 1;
            border-bottom-right-radius: 0;
            position: relative;
        }
        .sections-wrapper_content{
            display: none;
            width: 100vw;
            position: absolute;
        }
    }
}