.sections-wrapper {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
   
     
    .sections-wrapper_item {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 20vw;
        height: 20vw;
        border-bottom-right-radius: 100%;
        display: none;
        transition: width 1000ms, height 1000ms;
        z-index: -1;
        &.sections-wrapper_item--bigger {
            width: 100vw;
            height: 100vw;
        }

        &.sections-wrapper_item--shadow {
            -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 102, 255, 0.16);
            -moz-box-shadow: 10px 10px 20px 0px rgba(0, 102, 255, 0.16);
            box-shadow: 10px 10px 20px 0px rgba(0, 102, 255, 0.16);
            z-index: 5;
        }

        &.sections-wrapper_item--active {
            width: 100vw;
            height: 100vw;
            -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 102, 255, 0);
            -moz-box-shadow: 10px 10px 20px 0px rgba(0, 102, 255, 0);
            box-shadow: 10px 10px 20px 0px rgba(0, 102, 255, 0);
        }
        .sections-wrapper_content{
            display: none;
            width: 100vw;
            position: absolute;
        }
    }
}