@import './scss/global/generals.scss';
@import './scss/background/background.scss';
@import './scss/navigation/navigation.scss';
@import './scss/sections-slider/sections-slider.scss';
@import './scss/sections/sections.scss';